{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/main_page.css' %}>
    <link rel="stylesheet" href={% static 'css/table.css' %}>
</head>
<body style = "background-image: url({% static 'img/KPI.jpg' %});background-size: cover;">

<nav class="nav-area">
    <ul>
        <li><a href={% url 'logout' %}>Logout</a></li>
        <li><a href="#">Важливі новини</a></li>
        <li class="dropdown"><a href="#">Service</a>
            <ul>
                <li><a href="#">Переглянути розклад</a></li>
                <li><a href="#">Переглянути оцінки</a></li>
                <li><a href="#">Редагувати профіль</a> </li>
            </ul>
        </li>
        <li><a href="#">Більше про викладачів</a></li>
        <li><a href="#">Контакти</a></li>
    </ul>
</nav>
<div class="container">
    <div class="table-responsive vertical">
        <table class="table table-bordered table-striped table-hover table-mc-red">
            <thead>
            <tr>
                <th>День</th>
                <th>1 пара (8:30 - 10:05)</th>
                <th>2 пара (10:25 - 12:00)</th>
                <th>3 пара (12:20 - 13:55)</th>
                <th>4 пара (14:15 - 15:50)</th>
                <th>5 пара (16:10 - 17:45)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-title="День">Понеділок</td>
                <td data-title="1 пара (8:30 - 10:05)">Матан</td>
                <td data-title="2 пара (10:25 - 12:00)">Прога</td>
                <td data-title="3 пара (12:20 - 13:55)">Веб</td>
                <td data-title="4 пара (14:15 - 15:50)"></td>
                <td data-title="5 пара (16:10 - 17:45)"></td>
            </tr>
            <tr>
                <td data-title="День">Вівторок</td>
                <td data-title="1 пара (8:30 - 10:05)">Прога</td>
                <td data-title="2 пара (10:25 - 12:00)">Веб</td>
                <td data-title="3 пара (12:20 - 13:55)">Матан</td>
                <td data-title="4 пара (14:15 - 15:50)"></td>
                <td data-title="5 пара (16:10 - 17:45)"></td>
            </tr>
            <tr>
                <td data-title="День">Середа</td>
                <td data-title="1 пара (8:30 - 10:05)">Веб</td>
                <td data-title="2 пара (10:25 - 12:00)">Матан</td>
                <td data-title="3 пара (12:20 - 13:55)">Прога</td>
                <td data-title="4 пара (14:15 - 15:50)"></td>
                <td data-title="5 пара (16:10 - 17:45)"></td>
            </tr>
            <tr>
                <td data-title="День">Четвер</td>
                <td data-title="1 пара (8:30 - 10:05)">ФП</td>
                <td data-title="2 пара (10:25 - 12:00)"></td>
                <td data-title="3 пара (12:20 - 13:55)"></td>
                <td data-title="4 пара (14:15 - 15:50)"></td>
                <td data-title="5 пара (16:10 - 17:45)"></td>
            </tr>
            <tr>
                <td data-title="День">П'ятниця</td>
                <td data-title="1 пара (8:30 - 10:05)">Прога</td>
                <td data-title="2 пара (10:25 - 12:00)">Матан</td>
                <td data-title="3 пара (12:20 - 13:55)">Веб</td>
                <td data-title="4 пара (14:15 - 15:50)"></td>
                <td data-title="5 пара (16:10 - 17:45)"></td>
            </tr>
            <tr>
                <td data-title="День">Субота</td>
                <td data-title="1 пара (8:30 - 10:05)">Англійська</td>
                <td data-title="2 пара (10:25 - 12:00)"></td>
                <td data-title="3 пара (12:20 - 13:55)"></td>
                <td data-title="4 пара (14:15 - 15:50)"></td>
                <td data-title="5 пара (16:10 - 17:45)"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>